<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = 'utf_8'>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Rock Paper Scissor</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/game">Game</a></li>
    <ul>
  <nav>
  <p>Welcome to the Rock Paper Scissor game.<p>
  <p>The rules are easy.<p>
  <p>Player 1 picks either Rock, Paper or Scissor.<p>
  <p>Player 2 then picks Rock, Paper or Scissor.<p>
  <p>Rock beats Scissor.<p>
  <p>Scissor beats Paper.<p>
  <p>Paper beats Rock.<p>
  <p>If you have the same then its a draw, easy.<p>
</body>
</html>