<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = 'utf_8'>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Rock Paper Scissor</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/game">Game</a></li>
    <ul>
  <nav>
  <p>Player 2 choose your object<p>
  <nav>
    <ul>
      <li><a href="/game/rock/paper">Paper</a></li>
      <li><a href="/game/rock/rock">Rock</a></li>
      <li><a href="/game/rock/scissor">Scissor</a></li>
    <ul>
  <nav>
</body>
</html>